/*Colores*/
/*Texto*/
/* MEDIA QUERIE CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
  /*INDEX*/
  .portada {
    padding-top: 70%;
    padding-bottom: 70%; }
    .portada__img {
      max-height: 150px; }
  footer .redes__img {
    max-height: 30px; }
  footer .copyright__p {
    font-size: 10px; }
  /* OBRAS */
  /* PROYECTOS */
  /*SOBRE NOSOTROS*/
  .us .nosotros__title {
    margin-bottom: 2px;
    padding: 2px;
    font-size: 6px; }
  .us .nosotros__text {
    margin: 1px; }
  .us .staff {
    margin-top: 20px; }
    .us .staff__img {
      margin-top: 2px;
      max-height: 9vh; }
  /*CONTACTO*/
  .hrow {
    padding-top: 20px;
    padding-bottom: 20px; }
  .ubicacion {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px; }
    .ubicacion__maps {
      max-height: 200px;
      max-width: 95vw; } }

/* MEDIA QUERIE TABLET*/
@media (min-width: 576px) and (max-width: 992px) {
  /*INDEX*/
  main {
    height: 81.22vh; }
    main .portada {
      max-height: 81.22vh; }
      main .portada__img {
        max-height: 50vh; }
  footer {
    max-height: 13vh; }
    footer .copyright__p {
      font-size: 12px; }
  /* SOBRE NOSOTROS */
  .us {
    width: 100vw; }
    .us .nosotros__title {
      font-size: 10px; }
    .us .nosotros__text {
      font-size: 10px;
      margin: 2px; }
    .us .staff {
      max-width: 50%; }
      .us .staff__img {
        max-height: 14vh; }
  .hrow {
    padding-top: 50px;
    height: 60vh; }
  .ubicacion {
    margin-top: 10px;
    padding-top: 10px; }
    .ubicacion__maps {
      max-height: 200px;
      max-width: 95vw;
      justify-self: center; } }

* {
  /* RESET CSS */
  margin: 0;
  padding: 0; }

.navbar-brand {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 2s; }
  .navbar-brand:hover {
    color: aquamarine; }

.bg-oscuro {
  background-color: #212121; }

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 2s; }
  .nav-link:hover {
    color: aquamarine; }

.navbar-toggler {
  background-color: white; }

/* MAIN */
main {
  background-color: #212121; }

/* INDEX PORTADA */
.portada__img {
  margin-top: 6%;
  height: 600px; }

/* FOOTER */
footer {
  background-color: #212121; }

.news {
  margin-top: 4%;
  margin-bottom: 4%; }
  .news__img {
    margin: 5px;
    height: 80px; }
  .news__title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white; }

.redes__img {
  height: 63px;
  transition: all 2s; }
  .redes__img:hover {
    transform: rotate(45deg); }

.copyright__p {
  font-family: 'Roboto', sans-serif;
  color: white; }

/* OBRAS */
.pObras {
  color: white; }

.titleObras {
  color: white;
  text-justify: auto; }

/* PROYECTOS */
.hCarrousel {
  height: 81.22vh; }

/* CONTACTO */
.form-control {
  transition: all 2s; }
  .form-control:focus {
    background-color: aquamarine; }

.form .hrow {
  padding-top: 100px;
  padding-bottom: 100px; }

.form .btn {
  background-color: white;
  transition: all 2s; }
  .form .btn:hover {
    background-color: aquamarine; }

.ubicacion__maps {
  height: 500px;
  width: 500px; }

/* SOBRE NOSOTROS */
.us .ht-row {
  padding-top: 100px;
  padding-bottom: 100px; }

.us .nosotros__title {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: white; }

.us .nosotros__text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: white;
  text-justify: distribute;
  padding-top: 5px; }

.us .staff__img {
  height: 20vh; }

.us .staff__text {
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  color: white;
  width: 100%; }
