*{ /* RESET CSS */
    margin: 0;
    padding: 0;
}

/* NAV */
/* nav{
    background-color: #212121;
}

nav a{
    text-decoration: none; 
    color: white;
    transition: all 2s;
}

nav a:hover{
    color: aquamarine;
}
.nav__list{  
    padding-top: 5px;
    padding-right: 5px;
    display: flex;    
    justify-content:end;  
}


.nav__list__item{ 
    list-style: none; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 15px;
} */

.navbar-brand{
    font-size: 20px;
    transition: all 2s;
}

.navbar-brand:hover{
    color: aquamarine;
}

.bg-oscuro{
    background-color: #212121;
}

.navbar-brand{
    text-decoration: none; 
    color: white;
    transition: all 2s;
}

.nav-link{
    text-decoration: none; 
    color: white;
    transition: all 2s;
    font-size: 20px;
}

.nav-link:hover{
    color: aquamarine;
}

.navbar-toggler{
    background-color: white;
}

/* MAIN */
main{
    height: 80vh;
    background-color: #212121;  
}

/* INDEX PORTADA */
.portada{
    height: 665px;
    display: flex;
    justify-content: center;
}


.portada__img{  
    padding-top: 150px; 
    height: 600px;   
}

/* FOOTER */
footer{
    display: grid;
    grid-template-areas: "redes copyright news";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    height: 13vh;
    background-color: #212121;
}

.news{ 
    justify-self: end;
    align-self: center;
    padding-right: 20px;
    grid-area: news;
}

.news__img{
    padding-top: 5px;
    height: 80px;    
}

.news__title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    color: white;  
}

.redes{
    grid-area: redes;
    justify-self: flex-start;
    align-self: center;
    padding-left: 20px;
}

.redes__img{
    padding-top: 20px;
    height: 50px;
    transition: all 2s;
}

.redes__img:hover{
    transform: rotate(45deg);
}

.copyright{
    grid-area: copyright;    
    justify-self: center;
    align-self: end;
    margin-bottom: 15px;
}

.copyright__p{
    font-family: 'Roboto', sans-serif; 
    color: white;  
}


/* OBRAS */
.build{
    display: grid;
    justify-items: center;
    grid-template-areas:"obras obrasMax";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    width: 100vw;
}

.obras{  
    grid-area: obras;
    align-items: center;
    display: grid;
    grid-template-areas:"img1 img2 img3"
                        "img4 img5 img6"
                        "img7 img8 img9";
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 150px;
    width: 30vw; 
}

.obras__img{
    height:15vh;
    margin: 5px;  
    transition: all 2s;  
}

.obras__img:hover{
    opacity: 0.1;
}

.img1{
    grid-area: img1;
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
}

.img4{
    grid-area: img4;
}

.img5{
    grid-area: img5;
}

.img6{
    grid-area: img6;
}

.obrasMax{
    grid-area: obrasMax;
    height: 60vh;
    width: 45vw;
}

.obraMax__img{
    padding-top: 150px;
    height: 48vh; 
}

/* PROYECTOS */
.project{
    display: grid;
    justify-items: center;
    grid-template-areas:"proyecto proyectoMax";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    width: 100vw;
}

.proyecto{   
    grid-area: proyecto;
    align-items: center;
    display: grid;
    grid-template-areas:"imgP1 imgP2 imgP3"
                        "imgP4 imgP5 imgP6"
                        "imgP7 imgP8 imgP9";
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 150px;
    width: 30vw; 
}

.proyecto__img{
    height:15vh;
    margin: 5px; 
    transition: all 2s;   
}

.proyecto__img:hover{
    opacity: 0.2;
}

.imgP1{
    grid-area: imgP1;
}

.imgP2{
    grid-area: imgP2;
}

.imgP3{
    grid-area: imgP3;
}

.imgP4{
    grid-area: imgP4;
}

.imgP5{
    grid-area: imgP5;
}

.imgP6{
    grid-area: imgP6;
}

.proyectoMax{
    grid-area: proyectoMax;
    height: 60vh;
    width: 45vw;
}

.proyectoMax__img{
    padding-top: 150px;
    height: 48vh; 
}

/* CONTACTO */

.form-control{
    transition: all 2s;
}
.form-control:focus{
    background-color: aquamarine;
}

.form{
    display: grid;
    grid-template-areas: "formulario ubicacion"
                        "formulario ubicacion";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;   
}

.formulario{
    grid-area: formulario;
    justify-self: center;
    align-self: center;    
    width: 30vw;
}

.btn{
    background-color: white;
    transition: all 2s;
}

.btn:hover{
    background-color: aquamarine;
}

.ubicacion{ 
    grid-area: ubicacion;
    justify-self: center;
    align-self: center;
    padding-top: 100px;
}

.ubicacion__maps{
    height: 500px;
    width: 500px;
}

/* SOBRE NOSOTROS */
.us{
    display: grid;
    grid-template-areas: "nosotros staff"
                        "nosotros staff";
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 2fr 1fr;
}

.nosotros{
    grid-area: nosotros;
    justify-self: center;
    align-self: center;
    background-color: #212121;
    width: 40vw;    
}

.nosotros__title{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 40px;
    padding: 15px;
}

.nosotros__text{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 50px;
}

.staff{
    grid-area: staff;
    justify-self: center;
    align-self: center;  
    background-color: #212121; 
    margin-top: 100px;   
    width: 900px; 
}

.staff__img{
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 200px;
}

.staff__text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 500px;
}

/* MEDIA QUERIE CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
    
    .nav__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__list__item{
        flex-direction: column;
        font-size: 10px;
        margin: 10px;
    }
    
    main{
        height: 70vh; 
    }

    .portada__img{ 
        padding-top: 200px; 
        height: 150px;   
    }

    footer{
        display: grid;
        grid-template-areas: "redes news" 
                            "copyright copyright";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 25vh;
    }

    .redes{
        justify-self: center;
    }

    .redes__img{
        height: 60px;
    }

    .news{
        justify-self: center;
    }

    .copyright{
        align-self: center;
    }

    .copyright__p{
        font-size: 12px;
    }

    /* OBRAS */
    .build{
        display: grid;
        justify-items: center;
        grid-template-areas:"obras" 
                            "obrasMax";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        height: 60vh;
        width: 100vw;
    }
    
    .obras{  
        grid-area: obras;
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-areas:"img1 img2 img3"
                            "img4 img5 img6"
                            "img7 img8 img9";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 150px;
        width: 100vw; 
    }
    
    .obras__img{
        height:8vh;
        margin: 5px;    
    }

    .obrasMax{
        grid-area: obrasMax;
        height: 40vh;
        width: 100vw;
    }
    
    .obraMax__img{
        padding-top: 30px;
        height:20vh; 
    }
    /*SOBRE NOSOTROS*/
    .us{
        display: grid;
        grid-template-areas:"nosotros"
                            "staff";
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr;
        width: 100vw;
        height: 40vh;
        padding-top: 120px;
    }

    .nosotros{
        width: 100vw;
    }
    
    .nosotros__title{
        justify-self: flex-start;
        align-self: flex-start;
        font-size: 10px;
        margin-bottom: 2px;
        padding: 2px;
    }

    .nosotros__text{
        margin: 2px;
        justify-self: center;
        align-self: flex-start;
        font-size: 10px;
        padding: 20px;
    }

    .staff{
        width: 100vw;
        margin-top: 5px;
    }

    .staff__img{
        margin-top: 2px;
        margin-left: 40px;
        height: 75px;
        padding-left: 5px;
    }

    .staff__text{
        justify-self: flex-start;
        margin-left: 150px;
        font-size: 10px;
        padding: 5px;
    }

    .form{
        padding-top: 90px;
        grid-template-areas: "formulario"
                            "ubicacion";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;   
    }

    .formulario__input{
        justify-self: center;
        align-self: center;
        margin: 2px;
    }

    .formulario__input__msj{
        justify-self: center;
        align-self: center;
        height: 30px;
        width: 80vw;
        margin: 2px;
    }

    .ubicacion{ 
        margin-top: 5px;
        padding-top: 10px;
    }
    
    .ubicacion__maps{
        height: 150px;
        width: 80vw;
    }
}

/* MEDIA QUERIE TABLET*/
@media (min-width: 576px) and (max-width: 992px) {
    header{
        height: auto;
    }
    
    .nav__list__item{
        flex-direction: column;
        font-size: 15px;
        margin: 10px;
    }
    
    main{
        height: 70vh; 
    }

    .portada__img{ 
        padding-top: 200px; 
        height: 300px;   
    }

    footer{
        display: grid;
        grid-template-areas: "redes news" 
                            "copyright copyright";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 25vh;
    }

    .redes{
        justify-self: center;
    }

    .redes__img{
        height: 60px;
    }

    .news{
        justify-self: center;
    }

    .copyright{
        align-self: center;
    }

    .copyright__p{
        font-size: 12px;
    }

    .us{
        display: grid;
        grid-template-areas:"nosotros"
                            "staff";
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr;
        width: 100vw;
        height: 20vh;
        padding-top: 30px;
    }

    .nosotros{
        width: 100vw;
    }
    
    .nosotros__title{
        justify-self: flex-start;
        align-self: flex-start;
        font-size: 20px;
        margin-bottom: 2px;
        padding: 2px;
    }

    .nosotros__text{
        margin: 2px;
        justify-self: flex-start;
        align-self: flex-start;
        font-size: 15px;
        padding: 20px;
    }

    .staff{
        width: 100vw;
        margin-top: 5px;
    }

    .staff__img{
        margin-top: 2px;
        margin-left: 40px;
        height: 100px;
        padding-left: 5px;
    }

    .staff__text{
        justify-self: flex-start;
        margin-left: 150px;
        font-size: 20px;
        padding: 5px;
    }



    .form{
        padding-top: 90px;
        width: 100vw;
        grid-template-areas: "formulario"
                            "ubicacion";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;   
    }

    .formulario__input{
        width: 80vw;
        justify-self: center;
        align-self: center;
        margin: 2px;
    }

    .formulario__input__msj{
        justify-self: center;
        align-self: center;
        height: 50px;
        width: 80vw;
        margin: 2px;
    }

    .ubicacion{ 
        margin-top: 5px;
        padding-top: 10px;
    }
    
    .ubicacion__maps{
        height: 200px;
        width: 80vw;
    }
}