/*Colores*/
/*Texto*/
/* MEDIA QUERIE CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
  /*INDEX*/
  .portada {
    padding-top: 71%;
    padding-bottom: 71%; }
    .portada__img {
      max-height: 150px; }
  footer .redes {
    display: flex;
    justify-content: center; }
    footer .redes__img {
      max-height: 30px; }
  footer .copyright {
    padding-top: 10px; }
    footer .copyright__p {
      align-self: center;
      font-size: 10px; }
  footer .news__title {
    font-size: 15px;
    color: white; }
  /* PROYECTOS */
  .proyectos__carrousel {
    height: 75vh; }
  /*SOBRE NOSOTROS*/
  .us .nosotros__title {
    margin-bottom: 2px;
    padding: 2px;
    font-size: 6px; }
  .us .nosotros__text {
    margin: 1px;
    font-size: 5px; }
  .us .staff {
    margin-top: 20px; }
    .us .staff__img {
      margin-top: 2px;
      max-height: 9vh; }
  /*CONTACTO*/
  .hrow {
    padding-top: 20px;
    padding-bottom: 20px; }
  .ubicacion {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px; }
    .ubicacion__maps {
      max-height: 200px;
      max-width: 95vw; } }

/* MEDIA QUERIE TABLET*/
@media (min-width: 576px) and (max-width: 992px) {
  /*INDEX*/
  main .portada {
    padding-top: 40%;
    padding-bottom: 30%; }
    main .portada__img {
      max-height: 400px; }
  footer .news {
    margin-top: 7%;
    margin-bottom: 7%; }
  footer .copyright__p {
    font-size: 12px; }
  /* OBRAS */
  .obras__title {
    color: white;
    padding-top: 50px; }
  .obras__p {
    color: white;
    text-justify: auto;
    padding-top: 5px;
    font-size: 25px; }
  /* PROYECTOS */
  .proyectos__carrousel {
    height: 75vh; }
  .proyectos__text {
    font-size: 20px; }
  /* SOBRE NOSOTROS */
  .us {
    padding-top: 30%;
    padding-bottom: 30%; }
    .us .nosotros__title {
      margin-left: 20px;
      font-size: 10px; }
    .us .nosotros__text {
      font-size: 7px;
      margin: 20px; }
    .us .staff__img {
      margin: 10px;
      max-height: 150px; }
  .form {
    padding-top: 5%; }
    .form .ubicacion {
      margin-top: 130px;
      padding-top: 10px; }
      .form .ubicacion__maps {
        max-height: 200px;
        width: 95vw; } }

* {
  /* RESET CSS */
  margin: 0;
  padding: 0; }

.navbar-brand {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 2s; }
  .navbar-brand:hover {
    color: aquamarine; }

.bg-oscuro {
  background-color: #212121; }

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 2s; }
  .nav-link:hover {
    color: aquamarine; }

.navbar-toggler {
  background-color: white; }

/* MAIN */
main {
  background-color: #212121; }

/* INDEX PORTADA */
.portada__img {
  margin-top: 5.5%;
  height: 600px; }

/* FOOTER */
footer {
  background-color: #212121; }

.news {
  margin-top: 4%;
  margin-bottom: 4%; }
  .news__title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white; }

.redes__img {
  height: 63px;
  transition: all 2s; }
  .redes__img:hover {
    transform: rotate(45deg); }

.copyright__p {
  font-family: 'Roboto', sans-serif;
  color: white; }

/* OBRAS */
.obras__top {
  height: 16.5vh; }

.obras__title {
  color: white; }

.obras__p {
  color: white;
  text-justify: auto; }

.obras__bottom {
  height: 16vh; }

/* PROYECTOS */
.proyectos__top {
  height: 5vh; }

.proyectos__title {
  color: white; }

.proyectos__text {
  color: white; }

.proyectos__bottom {
  height: 5vh; }

/* CONTACTO */
.form .contacto__title {
  color: white; }

.form .contacto__text {
  color: white; }

.form-control {
  transition: all 2s; }
  .form-control:focus {
    background-color: aquamarine; }

.form .hrow {
  padding-top: 100px;
  padding-bottom: 100px; }

.form .btn {
  background-color: white;
  transition: all 2s; }
  .form .btn:hover {
    background-color: aquamarine; }

.ubicacion__maps {
  height: 500px;
  width: 500px; }

/* SOBRE NOSOTROS */
.us .ht-row {
  padding-top: 5%;
  padding-bottom: 4.7%; }

.us .nosotros__title {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: white; }

.us .nosotros__text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: white;
  text-justify: distribute;
  padding-top: 5px; }

.us .staff__img {
  height: 20vh; }

.us .staff__text {
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  color: white;
  width: 100%; }
