/* MEDIA QUERIE CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
    
    /*INDEX*/
    
    .portada{
        padding-top: 70%;
        padding-bottom: 70%;
        &__img{ 
            max-height: 150px;
        }
    }
    

    footer{ 
       
        .redes{
            
            &__img{
                max-height: 30px;
            }
        }
    
        .copyright{
        
            &__p{
                font-size: 10px;
            }
        }
        
    }




    /* OBRAS */

    /* PROYECTOS */


    /*SOBRE NOSOTROS*/
    .us{

        .nosotros{
            &__title{
                margin-bottom: 2px;
                padding: 2px;
                font-size: 6px;
            }
        
            &__text{
                margin: 1px;
            }
        
        }
    
        .staff{
            margin-top: 20px;
            &__img{
                margin-top: 2px;
                max-height: 9vh;
            }
        
        }
    }

    /*CONTACTO*/
    .hrow{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ubicacion{ 
        margin-top: 20px;
        margin-bottom: 10px;
        padding-top: 10px;
    
        &__maps{
            max-height: 200px;
            max-width: 95vw;
        }
    }
}

/* MEDIA QUERIE TABLET*/
@media (min-width: 576px) and (max-width: 992px) {

    /*INDEX*/

    main{

        .portada{
            padding-top: 40%;
            padding-bottom: 30%;
    
            &__img{
                max-height: 400px;
            }
        }
    
    }


    footer{
        .news{
            margin-top: 7%;
            margin-bottom: 7%;
        }
        .copyright{
    
            &__p{
                font-size: 12px;
            }
        }
    }


        /* SOBRE NOSOTROS */
    .us{
        padding-top: 110px;
        .nosotros{
            &__title{
                margin-left: 20px;
                font-size: 10px;
            }
        
            &__text{
                font-size: 7px;
                margin: 20px;
            }
        }
        
        .staff{
        
            &__img{
                margin: 10px;
                max-height: 150px;
            }
        
        }
    }

    .form{
        padding-top: 5%;
        .ubicacion{ 
            margin-top: 130px;
            padding-top: 10px;
    
            &__maps{
                max-height: 200px;
                width: 95vw;
            }
        }
    }
    
}