/* MEDIA QUERIE CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
    
    /*INDEX*/
    
    .portada{
        padding-top: 70%;
        padding-bottom: 70%;
        &__img{ 
            max-height: 150px;
        }
    }
    

    footer{ 
       
        .redes{
            
            &__img{
                max-height: 30px;
            }
        }
    
        .copyright{
        
            &__p{
                font-size: 10px;
            }
        }
        
    }




    /* OBRAS */

    /* PROYECTOS */


    /*SOBRE NOSOTROS*/
    .us{

        .nosotros{
            &__title{
                margin-bottom: 2px;
                padding: 2px;
                font-size: 6px;
            }
        
            &__text{
                margin: 1px;
            }
        
        }
    
        .staff{
            margin-top: 20px;
            &__img{
                margin-top: 2px;
                max-height: 9vh;
            }
        
        }
    }

    /*CONTACTO*/
    .hrow{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ubicacion{ 
        margin-top: 20px;
        margin-bottom: 10px;
        padding-top: 10px;
    
        &__maps{
            max-height: 200px;
            max-width: 95vw;
        }
    }
}

/* MEDIA QUERIE TABLET*/
@media (min-width: 576px) and (max-width: 992px) {

    /*INDEX*/

    main{
        height: 81.22vh; 

        .portada{
            max-height: 81.22vh; 
    
            &__img{
                max-height: 50vh;
            }
        }
    
    }


    footer{
        max-height: 13vh;

        .copyright{
    
            &__p{
                font-size: 12px;
            }
        }
    }


        /* SOBRE NOSOTROS */
    .us{
        width: 100vw;

        .nosotros{

            &__title{
                font-size: 10px;
            }
        
            &__text{
                font-size: 10px;
                margin: 2px;
            }
        }
        
        .staff{
            max-width: 50%;
        
            &__img{
                max-height: 14vh;
            }
        
        }
    }

    .hrow{
        padding-top: 50px;
        height: 60vh;
    }

    .ubicacion{ 
        margin-top: 10px;
        padding-top: 10px;

        &__maps{
            max-height: 200px;
            max-width: 95vw;
            justify-self: center;
        }
    }
}